section.dich-vu.main-section(setBackgroundRepeat='./img/home/bg-3.png')
    .container
        h1.main-title.leaf.text-center.mb-2.mb-lg-3 Dịch vụ
        .main-wrapper
            -for(i=0;i<8;i++)
                .wrapper
                    .image
                        img(src="./img/dich-vu/1.png", alt="")
                    .content
                        h2.sub-title Tư vấn môi trường
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                        a(href="#").main-btn.plus.main Xem thêm