section.tai-lieu.main-section
    .container
        .row
            .col-lg-3
                .sidebar-wrap
                    h2.heading Tài liệu
                    ul
                        li
                            a(href="#") Luận văn tốt nghiệp
                        li
                            a(href="#") Luận văn tốt nghiệp
                        li
                            a(href="#") Luận văn tốt nghiệp
                        li
                            a(href="#") Luận văn tốt nghiệp
            .col-lg-9
                h1.main-title.mb-1 Tài liệu tham khảo
                .table
                    table
                        thead
                            tr
                                th STT
                                th Tên tài liệu
                                th Tải về
                        tbody
                            tr
                                td 01
                                td Báo cáo môi trường.doc
                                td
                                    a(href="#")
                                        em.mdi.mdi-download
                            tr
                                td 01
                                td Cơ sở công nghệ xử lý nước thải - xử lý sinh học hiếu khí lơ lửng.doc
                                td
                                    a(href="#")
                                        em.mdi.mdi-download
                            tr
                                td 01
                                td Báo cáo môi trường.doc
                                td
                                    a(href="#")
                                        em.mdi.mdi-download
                            tr
                                td 01
                                td Cơ sở công nghệ xử lý nước thải - xử lý sinh học hiếu khí lơ lửng.doc
                                td
                                    a(href="#")
                                        em.mdi.mdi-download
                            tr
                                td 01
                                td Báo cáo môi trường.doc
                                td
                                    a(href="#")
                                        em.mdi.mdi-download
                            tr
                                td 01
                                td Cơ sở công nghệ xử lý nước thải - xử lý sinh học hiếu khí lơ lửng.doc
                                td
                                    a(href="#")
                                        em.mdi.mdi-download
                            tr
                                td 01
                                td Báo cáo môi trường.doc
                                td
                                    a(href="#")
                                        em.mdi.mdi-download
                            tr
                                td 01
                                td Cơ sở công nghệ xử lý nước thải - xử lý sinh học hiếu khí lơ lửng.doc
                                td
                                    a(href="#")
                                        em.mdi.mdi-download