section.thu-vien.main-section(setBackgroundRepeat='./img/home/bg-3.png')
    .container
        h1.main-title.leaf.text-center.mb-2.mb-lg-3 Thư viện ảnh
        .row
            .col-lg-6
                .item.big-image
                    a(href="#")
                        figure
                            .image
                                img(src="./img/thu-vien/1.png", alt="")
                            p.title Bản đồ quận huyện
                            figcaption
                                h2 Hình ảnh thiên nhiên
                                img(src="./img/thu-vien/eye.png", alt="")
            .col-lg-6
                .row
                    .col-md-6
                        .item
                            a(href="#")
                                figure
                                    .image
                                        img(src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/91594710_134747384757003_5653836000028262400_o.jpg?_nc_cat=105&_nc_sid=8024bb&_nc_ohc=tgvCIsf6YqYAX8s5XeZ&_nc_ht=scontent-hkg3-1.xx&oh=79de38c48638f29c9dc8e793c7f3be3b&oe=5EA92FCC", alt="")
                                    p.title Bản đồ quận huyện
                                    figcaption
                                        h2 Hình ảnh thiên nhiên
                                        img(src="./img/thu-vien/eye.png", alt="")
                    .col-md-6
                        .item
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/thu-vien/1.png", alt="")
                                    p.title Bản đồ quận huyện
                                    figcaption
                                        h2 Hình ảnh thiên nhiên
                                        img(src="./img/thu-vien/eye.png", alt="")
                    .col-md-6
                        .item
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/thu-vien/1.png", alt="")
                                    p.title Bản đồ quận huyện
                                    figcaption
                                        h2 Hình ảnh thiên nhiên
                                        img(src="./img/thu-vien/eye.png", alt="")
                    .col-md-6
                        .item
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/thu-vien/1.png", alt="")
                                    p.title Bản đồ quận huyện
                                    figcaption
                                        h2 Hình ảnh thiên nhiên
                                        img(src="./img/thu-vien/eye.png", alt="")
        .row
            .col-lg-6
                .row
                    .col-md-6
                        .item
                            a(href="#")
                                figure
                                    .image
                                        img(src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/91594710_134747384757003_5653836000028262400_o.jpg?_nc_cat=105&_nc_sid=8024bb&_nc_ohc=tgvCIsf6YqYAX8s5XeZ&_nc_ht=scontent-hkg3-1.xx&oh=79de38c48638f29c9dc8e793c7f3be3b&oe=5EA92FCC", alt="")
                                    p.title Bản đồ quận huyện
                                    figcaption
                                        h2 Hình ảnh thiên nhiên
                                        img(src="./img/thu-vien/eye.png", alt="")
                    .col-md-6
                        .item
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/thu-vien/1.png", alt="")
                                    p.title Bản đồ quận huyện
                                    figcaption
                                        h2 Hình ảnh thiên nhiên
                                        img(src="./img/thu-vien/eye.png", alt="")
                    .col-md-6
                        .item
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/thu-vien/1.png", alt="")
                                    p.title Bản đồ quận huyện
                                    figcaption
                                        h2 Hình ảnh thiên nhiên
                                        img(src="./img/thu-vien/eye.png", alt="")
                    .col-md-6
                        .item
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/thu-vien/1.png", alt="")
                                    p.title Bản đồ quận huyện
                                    figcaption
                                        h2 Hình ảnh thiên nhiên
                                        img(src="./img/thu-vien/eye.png", alt="")
            .col-lg-6
                .item.big-image
                    a(href="#")
                        figure
                            .image
                                img(src="./img/thu-vien/1.png", alt="")
                            p.title Bản đồ quận huyện
                            figcaption
                                h2 Hình ảnh thiên nhiên
                                img(src="./img/thu-vien/eye.png", alt="")