section.tuyen-dung-1
    .wrapper
        .image
            img(src="./img/tuyen-dung/1.png", alt="")
        .content(setBackground='./img/tuyen-dung/bg-1.png')
            h1.main-title.leaf.mb-2.mb-lg-3 Văn hóa công ty
            p Tại Thông Điệp Xanh, yếu tố con người luôn được đề cao. Các nhân viên của công ty vừa đáp ứng được chuyên môn nghề nghiệp vừa tôn trọng trong ứng xử và tận tâm, chu đáo trong phục vụ khách hàng. Thông Điệp Xanh luôn trân trọng những giá trị của mỗi nhân viên và Thông Điệp Xanh cũng là một khối đoàn kết bền vững, từ đó tạo ra sức mạnh tập thể cho cả công ty và cho mỗi nhân viên.
            p Tại Thông Điệp Xanh, yếu tố con người luôn được đề cao. Các nhân viên của công ty vừa đáp ứng được chuyên môn nghề nghiệp vừa tôn trọng trong ứng xử và tận tâm, chu đáo trong phục vụ khách hàng. Thông Điệp Xanh luôn trân trọng những giá trị của mỗi nhân viên và Thông Điệp Xanh cũng là một khối đoàn kết bền vững, từ đó tạo ra sức mạnh tập thể cho cả công ty và cho mỗi nhân viên.
section.tuyen-dung-2.main-section
    .container
        h2.main-title.leaf.text-center.mb-2.mb-lg-3 Văn hóa Công ty
        .table
            table
                thead
                    tr
                        th STT
                        th Vị trí tuyển dụng
                        th Số lượng
                        th Thời hạn
                        th Khu vực
                tbody
                    tr
                        td 01
                        td
                            a(href="#") Kỹ sư xây dụng
                        td 02
                        td 03/02/2020
                        td TP.HCM
                    tr
                        td 01
                        td
                            a(href="#") Kỹ sư xây dụng
                        td 02
                        td 03/02/2020
                        td TP.HCM
                    tr
                        td 01
                        td
                            a(href="#") Kỹ sư xây dụng
                        td 02
                        td 03/02/2020
                        td TP.HCM
                    tr
                        td 01
                        td
                            a(href="#") Kỹ sư xây dụng
                        td 02
                        td 03/02/2020
                        td TP.HCM