.dich-vu-ct-1
    .service-intro
        .image-wrap
            border-radius: 25px
            overflow: hidden
            img
                width: 100%
        .text-wrap
            margin-top: 30px
            @media(min-width: 1025px)
                margin-top: 0
            .hotline
                padding-top: 15px
                margin-top: 15px
                border-top: 1px solid #d1d1d1
                font-size: +r(18px)
                span
                    color: $main
                    font-weight: 600
            .main-btn
                margin-top: 20px
                font-size: +r(18px)
                padding: 8px 50px
    .secvice-description
        margin-top: 40px
        .heading
            display: inline-block
            padding: 8px 50px
            font-size: +r(18px)
            text-transform: uppercase
            background: $main
            color: #ffffff
            border-top-left-radius: 20px
            border-top-right-radius: 20px
        .content
            border-top: 1px solid #d1d1d1
            padding: 15px 0 0
            p
                margin-bottom: 15px
            table
                width: 100%
                tr
                    td
                        vertical-align: top
                        padding: 20px
                        border: 2px solid #d1d1d1
                        font-size: +r(18px)
                        p
                            margin-bottom: 0
                        &:first-child
                            padding-top: 30px
                            font-weight: 700
                    &:nth-child(even)
                        background: #f0faef
        .btn-viewmore
            display: inline-flex
            font-size: +r(24px)
            color: $main
            margin-top: 20px
            align-items: center
            em
                margin-left: 10px