section.dich-vu-ct-1.main-section
    .container
        .service-intro
            .row
                .col-lg-6
                    .image-wrap
                        img(src="./img/dich-vu/1.png", alt="")
                .col-lg-6
                    .text-wrap
                        h1.main-title.mb-1 Tư vấn môi trường
                        p Công Ty GM là Doanh nghiệp chuyên tư vấn các giải pháp và cung cấp dịch vụ tư vấn trong lĩnh vực môi trường ,từ lúc chuẩn bị bắt đầu triển khai xin giấy phép đầu tư đến khi được phê duyệt  dự án và đi vào hoạt động.
                        p.hotline Hotline:
                            span  0903 926 077
                        a(href="#").main-btn Liên hệ
        .secvice-description
            .heading Chi tiết
            .content
                p Đối với các Doanh Nghiệp mới hoặc Doanh nghiệp nước ngoài rất lúng túng trong vấn đề thủ tục môi trường tại Việt Nam, GM sẽ tư vấn từng bước thực hiện và hướng dẫn thi hành luật môi trường để đảm bảo dự án được hoạt động xuyên suốt.
                p Dưới đây là một số bước cơ bản :
                .table
                    table
                        tr
                            td Hồ sơ quản lý môi trường trước khi hoạt động
                            td 
                                p - Đánh giá tác động môi trường (ĐTM)
                                p - Đánh giá tác động môi trường (ĐTM)
                                p - Đánh giá tác động môi trường (ĐTM)
                        tr
                            td Các loại hồ sơ trong quá trình hoạt động
                            td 
                                p - Đánh giá tác động môi trường (ĐTM)
                                p - Đánh giá tác động môi trường (ĐTM)
                                p - Đánh giá tác động môi trường (ĐTM)
                        tr
                            td Các loại báo cáo
                            td 
                                p - Đánh giá tác động môi trường (ĐTM)
                                p - Đánh giá tác động môi trường (ĐTM)
                                p - Đánh giá tác động môi trường (ĐTM)
                .text-center
                    a.btn-viewmore(href='#') Xem thêm
                        em.lnr.lnr-chevron-down
section.du-an-ct-2.main-section
    .container
        h2.main-title.leaf.text-center.mb-2.mb-lg-3 Dịch vụ khác
        .project-slider
            .swiper-container
                .swiper-wrapper
                    -for(i=0;i<7;i++)
                        .swiper-slide
                            .service-item
                                figure
                                    .image
                                        a(href="#")
                                            img(src="./img/home/2.png", alt="")
                                    figcaption
                                        h5
                                            a(href="#") Tư vấn môi trường
                        .swiper-slide
                            .service-item
                                figure
                                    .image
                                        a(href="#")
                                            img(src="./img/home/2.png", alt="")
                                    figcaption
                                        h5
                                            a(href="#") Thiết kế hệ thống xử lý nước thải Khu Dân Cư... Phước Thái
            .swiper-navigation
                .swiper-prev
                    img(src="./img/left.png", alt="")
                .swiper-next
                    img(src="./img/right.png", alt="")