section.main-navigation
    .container
        .heading Danh mục
        ul
            li
                a(href="#") Thông điệp lãnh đạo
            li
                a(href="#") Lĩnh vực hoạt động
            li
                a(href="#") Chính sách chất lượng
section.gioi-thieu-1.main-section
    .container
        .row
            .col-lg-7
                .image-wrap
                    .big-image
                        img(src="./img/gioi-thieu/1.png", alt="")
                    .small-image
                        img(src="./img/gioi-thieu/2.png", alt="")
            .col-lg-5
                .content-wrap
                    h1.main-title.leaf.mb-1.mb-lg-2 Thông điệp lãnh đạo
                    .text
                        p
                            strong Green Message  
                            | - Công Ty TNHH Công Nghệ Môi Trường Thông Điệp Xanh là một trong những doanh nghiệp hoạt động trong lĩnh vực Nước và Môi Trường, được thành lập theo giấy chứng nhận đăng kí kinh doanh số  0308959173 của Sở Kế Hoạch và Đầu Tư thành phố Hồ Chí Minh.
                        p
                            strong Green Message  
                            | - Công Ty TNHH Công Nghệ Môi Trường Thông Điệp Xanh là một trong những doanh nghiệp hoạt động trong lĩnh vực Nước và Môi Trường, được thành lập theo giấy chứng nhận đăng kí kinh doanh số  0308959173 của Sở Kế Hoạch và Đầu Tư thành phố Hồ Chí Minh.
                        p
                            strong Green Message  
                            | - Công Ty TNHH Công Nghệ Môi Trường Thông Điệp Xanh là một trong những doanh nghiệp hoạt động trong lĩnh vực Nước và Môi Trường, được thành lập theo giấy chứng nhận đăng kí kinh doanh số  0308959173 của Sở Kế Hoạch và Đầu Tư thành phố Hồ Chí Minh.
                        p
                            strong Green Message  
                            | - Công Ty TNHH Công Nghệ Môi Trường Thông Điệp Xanh là một trong những doanh nghiệp hoạt động trong lĩnh vực Nước và Môi Trường, được thành lập theo giấy chứng nhận đăng kí kinh doanh số  0308959173 của Sở Kế Hoạch và Đầu Tư thành phố Hồ Chí Minh.
                        p
                            strong Green Message  
                            | - Công Ty TNHH Công Nghệ Môi Trường Thông Điệp Xanh là một trong những doanh nghiệp hoạt động trong lĩnh vực Nước và Môi Trường, được thành lập theo giấy chứng nhận đăng kí kinh doanh số  0308959173 của Sở Kế Hoạch và Đầu Tư thành phố Hồ Chí Minh.
section.gioi-thieu-2.main-section(setbackgroundrepeat="./img/home/bg-2.png")
    .container
        h2.main-title.leaf.text-center.white.mb-2.mb-lg-3 Lĩnh vực hoạt động
        .main-list
            .row
                .col-lg-6
                    .service-item.big-item
                        figure
                            .image
                                a(href="#")
                                    img(src="./img/home/2.png", alt="")
                            figcaption
                                h5
                                    a(href="#") Tư vấn môi trường
                .col-lg-6
                    .row
                        .col-lg-6
                            .service-item
                                figure
                                    .image
                                        a(href="#")
                                            img(src="./img/home/2.png", alt="")
                                    figcaption
                                        h5
                                            a(href="#") Tư vấn môi trường
                        .col-lg-6
                            .service-item
                                figure
                                    .image
                                        a(href="#")
                                            img(src="./img/home/2.png", alt="")
                                    figcaption
                                        h5
                                            a(href="#") Tư vấn môi trường
                        .col-lg-6
                            .service-item
                                figure
                                    .image
                                        a(href="#")
                                            img(src="./img/home/2.png", alt="")
                                    figcaption
                                        h5
                                            a(href="#") Tư vấn môi trường
                        .col-lg-6
                            .service-item
                                figure
                                    .image
                                        a(href="#")
                                            img(src="./img/home/2.png", alt="")
                                    figcaption
                                        h5
                                            a(href="#") Tư vấn môi trường
section.gioi-thieu-1.gioi-thieu-3.main-section(setBackgroundRepeat='./img/home/bg-3.png')
    .container
        .row
            .col-lg-6
                .image-wrap
                    img(src="./img/gioi-thieu/3.png", alt="")
            .col-lg-6
                .content-wrap
                    h1.main-title.leaf.mb-1.mb-lg-2 Thông điệp lãnh đạo
                    .text
                        p
                            strong Green Message  
                            | - Công Ty TNHH Công Nghệ Môi Trường Thông Điệp Xanh là một trong những doanh nghiệp hoạt động trong lĩnh vực Nước và Môi Trường, được thành lập theo giấy chứng nhận đăng kí kinh doanh số  0308959173 của Sở Kế Hoạch và Đầu Tư thành phố Hồ Chí Minh.
                        p
                            strong Green Message  
                            | - Công Ty TNHH Công Nghệ Môi Trường Thông Điệp Xanh là một trong những doanh nghiệp hoạt động trong lĩnh vực Nước và Môi Trường, được thành lập theo giấy chứng nhận đăng kí kinh doanh số  0308959173 của Sở Kế Hoạch và Đầu Tư thành phố Hồ Chí Minh.
                        p
                            strong Green Message  
                            | - Công Ty TNHH Công Nghệ Môi Trường Thông Điệp Xanh là một trong những doanh nghiệp hoạt động trong lĩnh vực Nước và Môi Trường, được thành lập theo giấy chứng nhận đăng kí kinh doanh số  0308959173 của Sở Kế Hoạch và Đầu Tư thành phố Hồ Chí Minh.
                        p
                            strong Green Message  
                            | - Công Ty TNHH Công Nghệ Môi Trường Thông Điệp Xanh là một trong những doanh nghiệp hoạt động trong lĩnh vực Nước và Môi Trường, được thành lập theo giấy chứng nhận đăng kí kinh doanh số  0308959173 của Sở Kế Hoạch và Đầu Tư thành phố Hồ Chí Minh.
                        p
                            strong Green Message  
                            | - Công Ty TNHH Công Nghệ Môi Trường Thông Điệp Xanh là một trong những doanh nghiệp hoạt động trong lĩnh vực Nước và Môi Trường, được thành lập theo giấy chứng nhận đăng kí kinh doanh số  0308959173 của Sở Kế Hoạch và Đầu Tư thành phố Hồ Chí Minh.