section.san-pham-ct-1.main-section(setBackgroundRepeat='./img/home/bg-3.png')
    .container
        .row
            .col-lg-9
                .product-detail-wrp
                    .row
                        .col-md-7
                            .product-image
                                .thumb-image
                                    .swiper-prev
                                        em.mdi.mdi-chevron-up
                                    .swiper-container
                                        .swiper-wrapper
                                            -for(i=0;i<5;i++)
                                                .swiper-slide
                                                    .image
                                                        img(src="./img/home/3.png", alt="")
                                    .swiper-next
                                        em.mdi.mdi-chevron-down
                                .main-image
                                    .swiper-container
                                        .swiper-wrapper
                                            -for(i=0;i<5;i++)
                                                .swiper-slide
                                                    .image
                                                        img(src="./img/home/3.png", alt="")
                        .col-md-5
                            .product-info
                                h1.title Basic Acmic
                                table
                                    tr
                                        td Mô tả
                                        td Mô tả mô tả mô tả mô tả mô tả mô tả mô tả mô tả mô tả mô tả mô tả
                                    tr
                                        td Quy cách
                                        td Đóng gói 5kg/ gói
                                            br
                                            | Đóng gói 5kg/ gói
                                    tr
                                        td Mô tả
                                        td Mô tả mô tả mô tả mô tả mô tả mô tả mô tả mô tả mô tả mô tả mô tả
                                    tr
                                        td Quy cách
                                        td Đóng gói 5kg/ gói
                                            br
                                            | Đóng gói 5kg/ gói
                                    tr
                                        td Download
                                        td
                                            a(href="#") Catelogure
                                                em.mdi.mdi-download
                                .contact
                                    a(href="#").main-btn Liên hệ
                                .social
                                    ul
                                        li
                                            a(href="#")
                                                em.fab.fa-facebook-f
                                        li
                                            a(href="#")
                                                em.fab.fa-likedin
                                        li
                                            a(href="#")
                                                em.fab.fa-youtube
                                        li
                                            a(href="#")
                                                em.fas.fa-envelope
                .product-description    
                    .nav-tab
                        .item(data-item='1') Về sản phẩm
                        .item(data-item='2') Tài liệu tham khảo
                        .item(data-item='3') Video
                    .nav-content
                        .item(data-item='1')
                            .content
                                h4 TỔNG QUAN VỀ Basic Acmic.
                                p Nitơ (nitrogen) tồn tại trong nước thải có thể gây nên hiệu ứng về môi trường. Sự có mặt của Nitơ trong nước thải có thể gây ra nhiều ảnh hưởng xấu đến hệ sinh thái và sức khỏe cộng đồng. Khi có quá nhiều ammonia sẽ gây độc cho cá & hệ động vật thủy sinh, làm suy giảm lượng oxy hòa tan trong nước. Khi hàm lượng Nitơ trong nước cao cộng thêm Phosphorus có thể gây nên hiện tượng phú dưỡng nguồn tiếp nhận... Chúng làm nước có màu và mùi khó chịu, đặc biệt là lượng oxy trong nước giảm mạnh dẫn đến việc gây ngạt cho cá & hệ sinh thái trong ao hồ.
                                p Nitơ (nitrogen) tồn tại trong nước thải có thể gây nên hiệu ứng về môi trường. Sự có mặt của Nitơ trong nước thải có thể gây ra nhiều ảnh hưởng xấu đến hệ sinh thái và sức khỏe cộng đồng. Khi có quá nhiều ammonia sẽ gây độc cho cá & hệ động vật thủy sinh, làm suy giảm lượng oxy hòa tan trong nước. Khi hàm lượng Nitơ trong nước cao cộng thêm Phosphorus có thể gây nên hiện tượng phú dưỡng nguồn tiếp nhận... Chúng làm nước có màu và mùi khó chịu, đặc biệt là lượng oxy trong nước giảm mạnh dẫn đến việc gây ngạt cho cá & hệ sinh thái trong ao hồ.
                                p Nitơ (nitrogen) tồn tại trong nước thải có thể gây nên hiệu ứng về môi trường. Sự có mặt của Nitơ trong nước thải có thể gây ra nhiều ảnh hưởng xấu đến hệ sinh thái và sức khỏe cộng đồng. Khi có quá nhiều ammonia sẽ gây độc cho cá & hệ động vật thủy sinh, làm suy giảm lượng oxy hòa tan trong nước. Khi hàm lượng Nitơ trong nước cao cộng thêm Phosphorus có thể gây nên hiện tượng phú dưỡng nguồn tiếp nhận... Chúng làm nước có màu và mùi khó chịu, đặc biệt là lượng oxy trong nước giảm mạnh dẫn đến việc gây ngạt cho cá & hệ sinh thái trong ao hồ.
                                p Nitơ (nitrogen) tồn tại trong nước thải có thể gây nên hiệu ứng về môi trường. Sự có mặt của Nitơ trong nước thải có thể gây ra nhiều ảnh hưởng xấu đến hệ sinh thái và sức khỏe cộng đồng. Khi có quá nhiều ammonia sẽ gây độc cho cá & hệ động vật thủy sinh, làm suy giảm lượng oxy hòa tan trong nước. Khi hàm lượng Nitơ trong nước cao cộng thêm Phosphorus có thể gây nên hiện tượng phú dưỡng nguồn tiếp nhận... Chúng làm nước có màu và mùi khó chịu, đặc biệt là lượng oxy trong nước giảm mạnh dẫn đến việc gây ngạt cho cá & hệ sinh thái trong ao hồ.
                                a(href="javascript:void(0)").btn-viewmore.main-btn Xem thêm
            .col-lg-3
                .policy-wrap
                    .heading
                        img(src="./img/ic.png", alt="")
                        p Chính sách bán hàng
                    ul
                        li
                            figure
                                .ic
                                    img(src="./img/san-pham/ic-1.png", alt="")
                                figcaption Hỗ trợ 24/7
                        li
                            figure
                                .ic
                                    img(src="./img/san-pham/ic-1.png", alt="")
                                figcaption Giao hàng nhanh chóng trong ngày
                        li
                            figure
                                .ic
                                    img(src="./img/san-pham/ic-1.png", alt="")
                                figcaption Hỗ trợ 24/7
                        li
                            figure
                                .ic
                                    img(src="./img/san-pham/ic-1.png", alt="")
                                figcaption Hỗ trợ 24/7
                .product-related
                    .heading
                        em.far.fa-file-pdf
                        p Sản phẩm đã xem
                    .product-list
                        .product-item
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/home/3.png", alt="")
                                    figcaption
                                        h5 Bio Feeda
                        .product-item
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/home/3.png", alt="")
                                    figcaption
                                        h5 Bio Feeda
section.san-pham-ct-2.main-section
    .container
        h2.main-title.leaf.text-center.mb-2.mb-3 Sản phẩm khác
        .product-list-wrap
            .row
                -for(i=0;i<15;i++)
                    .col-sm-6.col-md-4.col-lg-custom
                        .product-item
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/home/3.png", alt="")
                                    figcaption
                                        h5 Bio Feeda