section.tin-tuc-ct.main-section
    .container
        .row
            .col-lg-9
                .heading-wrap
                    h1.main-title Tái chế rác thải nhựa làm đường, Dow lọt top cty “Thay đổi Thế giới'
                    .d-flex
                        time 24.10.1999
                        .social-share
                            ul
                                li.tw
                                    a(href="#")
                                        em.fab.fa-twitter
                                li.fb
                                    a(href="#")
                                        em.fab.fa-facebook-f
                                li.pr
                                    a(href="#")
                                        em.mdi.mdi-printer
                .full-content
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, perspiciatis tenetur. Eum non reprehenderit nostrum error facilis incidunt dolorum fugit id, iste optio eveniet qui est praesentium, voluptates deserunt quae.
            .col-lg-3
                .news-other-wrap
                    h2.heading Tin tức khác
                    .list
                        .item
                            a(href="#")
                                time 13.07.2019
                                h3 Khủng hoảng rác thải nhựa
                        .item
                            a(href="#")
                                time 13.07.2019
                                h3 Khủng hoảng rác thải nhựa
                        .item
                            a(href="#")
                                time 13.07.2019
                                h3 Khủng hoảng rác thải nhựa
