.du-an-ct-1
    .project-image
        .main-image
            .image
                border-radius: 25px
                overflow: hidden
        .thumb-image
            position: relative
            margin-top: 10px
            padding: 0 50px
            .image
                overflow: hidden
                border-radius: 10px
        .swiper-next, .swiper-prev
            width: 30px
            border: 1px solid $main
            padding: 5px
            height: 30px
            border-radius: 50%
            position: absolute
            top: 50%
            transform: translateY(-50%)
            display: flex
            justify-content: center
            cursor: pointer
            align-items: center
            &:focus
                outline: none
        .swiper-prev
            left: 0
        .swiper-next
            right: 0
    .project-info
        margin-top: 30px
        @media(min-width: 1025px)
            margin-top: 0
        .title
            font-size: +r(24px)
            color: $main
            margin-bottom: 15px
        table
            width: 100%
            tr
                &:nth-child(odd)
                    background: #f3f3f3
                td
                    padding: 8px
.du-an-ct-2
    background: #f3f3f3
    .project-slider
        position: relative
        .swiper-navigation
            margin-top: 30px
            &>div
                background: none
                border: 1px solid $main
            @media(min-width: 1400px)
                margin-top: 0
    .swiper-slide
        height: auto
    .service-item
        height: 100%
        figure
            height: 100%
            background: #fff
            border: 2px solid #fff
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05)