section.du-an-ct-1.main-section
    .container
        .row
            .col-lg-6
                .project-image
                    .main-image
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .image
                                        img(src="./img/du-an/1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/du-an/1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/du-an/1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/du-an/1.png", alt="")
                    .thumb-image
                        .swiper-prev
                            img(src="./img/left.png", alt="")
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .image
                                        img(src="./img/du-an/1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/du-an/1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/du-an/1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/du-an/1.png", alt="")
                        .swiper-next
                            img(src="./img/right.png", alt="")
            .col-lg-6
                .project-info
                    h1.title Công ty TNHH sản xuất thương mại TOBA
                    table
                        tr
                            td Chủ Đầu Tư
                            td : CÔNG TY TNHH – SẢN XUẤT – THƯƠNG MẠI TOBA
                        tr
                            td Nguồn gốc nước thải
                            td : CÔNG TY TNHH – SẢN XUẤT – THƯƠNG MẠI TOBA
                        tr
                            td Chủ Đầu Tư
                            td : CÔNG TY TNHH – SẢN XUẤT – THƯƠNG MẠI TOBA
section.du-an-ct-2.main-section
    .container
        h2.main-title.leaf.text-center.mb-2.mb-lg-3 Dự án khác
        .project-slider
            .swiper-container
                .swiper-wrapper
                    -for(i=0;i<7;i++)
                        .swiper-slide
                            .service-item
                                figure
                                    .image
                                        a(href="#")
                                            img(src="./img/home/2.png", alt="")
                                    figcaption
                                        h5
                                            a(href="#") Tư vấn môi trường
                        .swiper-slide
                            .service-item
                                figure
                                    .image
                                        a(href="#")
                                            img(src="./img/home/2.png", alt="")
                                    figcaption
                                        h5
                                            a(href="#") Thiết kế hệ thống xử lý nước thải Khu Dân Cư... Phước Thái
            .swiper-navigation
                .swiper-prev
                    img(src="./img/left.png", alt="")
                .swiper-next
                    img(src="./img/right.png", alt="")