footer
    .footer-main.main-section(setBackground='./img/ft.png')
        .container
            .row
                .col-lg-3.col-md-6
                    .ft-col
                        h3.ft-title Giới thiệu
                        ul
                            li
                                a(href="#") Thông điệp lãnh đạo
                            li
                                a(href="#") Thông điệp lãnh đạo
                            li
                                a(href="#") Thông điệp lãnh đạo
                            li
                                a(href="#") Thông điệp lãnh đạo
                .col-lg-3.col-md-6
                    .ft-col
                        h3.ft-title Giới thiệu
                        ul
                            li
                                a(href="#") Thông điệp lãnh đạo
                            li
                                a(href="#") Thông điệp lãnh đạo
                            li
                                a(href="#") Thông điệp lãnh đạo
                            li
                                a(href="#") Thông điệp lãnh đạo
                .col-lg-3.col-md-6
                    .ft-col
                        h3.ft-title Giới thiệu
                        ul
                            li
                                a(href="#") Thông điệp lãnh đạo
                            li
                                a(href="#") Thông điệp lãnh đạo
                            li
                                a(href="#") Thông điệp lãnh đạo
                            li
                                a(href="#") Thông điệp lãnh đạo
                .col-lg-3.col-md-6
                    .ft-col
                        h3.ft-title Thư viện
                        .gallery-wrap
                            .row
                                .col-md-8
                                    .video.item
                                        figure
                                            .image
                                                a(href="https://www.youtube.com/watch?v=_5ZE_Yl50OU&t=870s" data-fancybox='v')
                                                    img(src="/Data/Sites/1/media/img/ft-1.png", alt="")
                                            .ic
                                                img(src="/Data/Sites/1/media/img/play.png", alt="")
                                .col-md-4
                                    .image.item
                                        figure
                                            .image
                                                a(href="/Data/Sites/1/media/img/ft-2.png" data-fancybox='1')
                                                    img(src="/Data/Sites/1/media/img/home/5.png", alt="")
                                            .ic
                                                img(src="/Data/Sites/1/media/img/image.png", alt="")
                                    .image.item
                                        figure
                                            .image
                                                a(href="/Data/Sites/1/media/img/ft-2.png" data-fancybox='1')
                                                    img(src="/Data/Sites/1/media/img/ft-2.png", alt="")
                                            .ic
                                                img(src="/Data/Sites/1/media/img/image.png", alt="")
                                .col-md-4
                                    .image.item
                                        figure
                                            .image
                                                a(href="/Data/Sites/1/media/img/ft-2.png" data-fancybox='1')
                                                    img(src="/Data/Sites/1/media/img/ft-2.png", alt="")
                                            .ic
                                                img(src="/Data/Sites/1/media/img/image.png", alt="")
                                .col-md-4
                                    .image.item
                                        figure
                                            .image
                                                a(href="/Data/Sites/1/media/img/ft-2.png" data-fancybox='1')
                                                    img(src="/Data/Sites/1/media/img/ft-2.png", alt="")
                                            .ic
                                                img(src="/Data/Sites/1/media/img/image.png", alt="")
                                .col-md-4
                                    .image.item
                                        figure
                                            .image
                                                a(href="/Data/Sites/1/media/img/ft-2.png" data-fancybox='1')
                                                    img(src="/Data/Sites/1/media/img/ft-2.png", alt="")
                                            .ic
                                                img(src="/Data/Sites/1/media/img/image.png", alt="")
    .footer-bottom
        .container
            .footer-wrap
                .list-page-wrap
                    ul
                        li
                            a(href="#") Chính sách bảo mật
                        li
                            a(href="#") Điều khoản sử dụng
                        li
                            a(href="#") Sơ đồ trang web
                .social-wrap
                    ul
                        li
                            a(href="#")
                                em.fab.fa-facebook-f
                        li
                            a(href="#")
                                em.fab.fa-likedin
                        li
                            a(href="#")
                                em.fab.fa-youtube
                        li
                            a(href="#")
                                em.fas.fa-envelope
                .copyright-wrap
                    p Copyright © 2020 Green Message.
                        a(href="https://canhcam.vn/thiet-ke-website") Thiết kế website
                        |  bởi 
                        a(href="https://canhcam.vn") Cánh Cam.