section.hoi-dap.main-section
    .container
        .row
            .col-lg-8
                h1.main-title.mb-1 Hỏi đáp
                .question-list
                    .question-item
                        h2.heading Quốc hội bàn chuyện lỗ lãi của các tập đoàn nhà nước
                        .content
                            p Theo báo cáo giám sát của Ủy ban Thường vụ Quốc hội gửi tới các đại biểu trong phiên họp cuối tuần   trước, có 47 tập đoàn, tổng công ty đang tham gia đầu tư vào các lĩnh vực ngân hàng, chứng khoán, bảo hiểm và góp vốn quỹ đầu tư. Trong đó, tổng số vốn đầu tư tài chính đến cuối năm 2006 là trên 6.400 tỷ đồng, cuối năm 2007 khoảng 16.200 tỷ đồng và cuối năm 2008 là 21.164 tỷ đồng. Tuy nhiên, hiệu suất đầu tư (lợi nhuận trên vốn đầu tư) của hầu hết các tập đoàn tổng công ty đều thấp hơn so với đầu tư vào ngành kinh doanh chính của các đơn vị này.
                            p Theo báo cáo giám sát của Ủy ban Thường vụ Quốc hội gửi tới các đại biểu trong phiên họp cuối tuần   trước, có 47 tập đoàn, tổng công ty đang tham gia đầu tư vào các lĩnh vực ngân hàng, chứng khoán, bảo hiểm và góp vốn quỹ đầu tư. Trong đó, tổng số vốn đầu tư tài chính đến cuối năm 2006 là trên 6.400 tỷ đồng, cuối năm 2007 khoảng 16.200 tỷ đồng và cuối năm 2008 là 21.164 tỷ đồng. Tuy nhiên, hiệu suất đầu tư (lợi nhuận trên vốn đầu tư) của hầu hết các tập đoàn tổng công ty đều thấp hơn so với đầu tư vào ngành kinh doanh chính của các đơn vị này.
                    .question-item
                        h2.heading Quốc hội bàn chuyện lỗ lãi của các tập đoàn nhà nước
                        .content
                            p Theo báo cáo giám sát của Ủy ban Thường vụ Quốc hội gửi tới các đại biểu trong phiên họp cuối tuần   trước, có 47 tập đoàn, tổng công ty đang tham gia đầu tư vào các lĩnh vực ngân hàng, chứng khoán, bảo hiểm và góp vốn quỹ đầu tư. Trong đó, tổng số vốn đầu tư tài chính đến cuối năm 2006 là trên 6.400 tỷ đồng, cuối năm 2007 khoảng 16.200 tỷ đồng và cuối năm 2008 là 21.164 tỷ đồng. Tuy nhiên, hiệu suất đầu tư (lợi nhuận trên vốn đầu tư) của hầu hết các tập đoàn tổng công ty đều thấp hơn so với đầu tư vào ngành kinh doanh chính của các đơn vị này.
                            p Theo báo cáo giám sát của Ủy ban Thường vụ Quốc hội gửi tới các đại biểu trong phiên họp cuối tuần   trước, có 47 tập đoàn, tổng công ty đang tham gia đầu tư vào các lĩnh vực ngân hàng, chứng khoán, bảo hiểm và góp vốn quỹ đầu tư. Trong đó, tổng số vốn đầu tư tài chính đến cuối năm 2006 là trên 6.400 tỷ đồng, cuối năm 2007 khoảng 16.200 tỷ đồng và cuối năm 2008 là 21.164 tỷ đồng. Tuy nhiên, hiệu suất đầu tư (lợi nhuận trên vốn đầu tư) của hầu hết các tập đoàn tổng công ty đều thấp hơn so với đầu tư vào ngành kinh doanh chính của các đơn vị này.
                    .question-item
                        h2.heading Quốc hội bàn chuyện lỗ lãi của các tập đoàn nhà nước
                        .content
                            p Theo báo cáo giám sát của Ủy ban Thường vụ Quốc hội gửi tới các đại biểu trong phiên họp cuối tuần   trước, có 47 tập đoàn, tổng công ty đang tham gia đầu tư vào các lĩnh vực ngân hàng, chứng khoán, bảo hiểm và góp vốn quỹ đầu tư. Trong đó, tổng số vốn đầu tư tài chính đến cuối năm 2006 là trên 6.400 tỷ đồng, cuối năm 2007 khoảng 16.200 tỷ đồng và cuối năm 2008 là 21.164 tỷ đồng. Tuy nhiên, hiệu suất đầu tư (lợi nhuận trên vốn đầu tư) của hầu hết các tập đoàn tổng công ty đều thấp hơn so với đầu tư vào ngành kinh doanh chính của các đơn vị này.
                            p Theo báo cáo giám sát của Ủy ban Thường vụ Quốc hội gửi tới các đại biểu trong phiên họp cuối tuần   trước, có 47 tập đoàn, tổng công ty đang tham gia đầu tư vào các lĩnh vực ngân hàng, chứng khoán, bảo hiểm và góp vốn quỹ đầu tư. Trong đó, tổng số vốn đầu tư tài chính đến cuối năm 2006 là trên 6.400 tỷ đồng, cuối năm 2007 khoảng 16.200 tỷ đồng và cuối năm 2008 là 21.164 tỷ đồng. Tuy nhiên, hiệu suất đầu tư (lợi nhuận trên vốn đầu tư) của hầu hết các tập đoàn tổng công ty đều thấp hơn so với đầu tư vào ngành kinh doanh chính của các đơn vị này.
            .col-lg-4
                .form-wrap
                    h2 Câu hỏi